.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 25px;
    background: rgb(90, 48, 36);
    color: beige;
    text-align: center;
}

.prev {
    float: left;
    padding-top: 10px;
}

.next {
    float: right;
    padding-top: 10px;
}

table {

    padding: 10px 0;
    width: 100%;
    background-color: bisque;
}

.calendar {
    padding-top: 20px;
}

.weekcalendar {
    width: 100%;

}

.day-of-week {
    width: 11.4vw;

}

.day {

    height: 20vh;
}

.dayDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 18vh;
}

.tablecontent {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tablecontent>* {
    margin-bottom: 5px;
}

.ready {
    color: antiquewhite;
    background-color: rgb(61, 97, 61);
    border: solid 2px;
    border-color: green;
}

.not_ready {
    color: cornsilk;
    background-color: rgb(128, 94, 94);
    border: solid 2px;
    border-color: rgb(69, 36, 36);
}

.calendar-grid {
    height: 20vh;
}

.today {
    border: solid 2px;
    border-color: rgb(102, 149, 149);
    border-radius: 8%;
}