body {
    background-color: rgb(163, 125, 113);
    color: rgb(34, 61, 76);
}

.mainPageDiv {
    margin-top: 80%;
    margin-bottom: 10%;
}

.memberAvatars {
    max-width: 100vw;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.avatarPics {
    max-width: 100vw;
    margin: auto;
    display: grid;
    gap: 1rem;
}

@media (min-width: 450px) {
    .mainPageDiv {
        margin-top: 60%;

    }
}

@media (min-width: 640px) {
    .avatarPics {
        grid-template-columns: repeat(2, 1fr);
    }

    .mainPageDiv {
        margin-top: 45%;
        margin-bottom: 10%;
    }
}

@media (min-width: 900px) {
    .avatarPics {
        grid-template-columns: repeat(6, 1fr);
    }

    .mainPageDiv {
        margin-top: 30%;
        margin-bottom: 15%;
    }
}

@media (min-width: 1200px) {
    .avatarPics {
        grid-template-columns: repeat(9, 1fr);
    }

    .mainPageDiv {
        margin-top: 20%;
        margin-bottom: 15%;
    }
}

#chosenPicture {
    border: 3px solid rgb(94, 6, 6);
}

.navbar {
    background-color: rgb(90, 48, 36);
    box-shadow: 0 2vh 0 0 rgba(69, 55, 41, 0.207);
    color: beige;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}

.navbuttons {
    padding: 5%;
    display: flex;
    gap: 2px
}

.footer {
    background-color: rgb(90, 48, 36);
    box-shadow: 0 -2vh 0 0 rgba(69, 55, 41, 0.207);
    bottom: 0;
    height: 5%;
    width: 100vw;
    left: 0;
    position: fixed;
}

.avatarPic {
    border: 4px solid;
    border-color: antiquewhite;
    border-radius: 10%;
}

.userAvatarPic {
    border: 4px solid;
    border-color: antiquewhite;
    border-radius: 10%;
    scale: 200%;
}

button {
    background-color: bisque;
    margin: 10px;
}

input {
    background-color: beige;
    border-radius: 10%;
    scale: 1.5;
}

.submit {
    background-color: beige;
    border-radius: 20%;
    scale: 1.5;
    margin-top: 15px;
}


select {
    background-color: beige;
    scale: 1.5;
}

.myPage ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.rewardpoints {
    display: inline-flex;
    gap: 10vw;
    flex-wrap: wrap;
}

.shopitems {
    display: grid;
    justify-items: start;
}

.shopitem {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.disabled {
    color: rgb(90, 89, 89);
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}