body {
    background-color: rgb(224, 207, 200);
    color: rgb(34, 61, 76);
}

.mainPageDiv {
    margin-top: 80%;
    margin-bottom: 10%;
}

.memberAvatars {
    max-width: 100vw;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.crown {
    max-width: 40px;
    z-index: 1;
    position: absolute;
    transform: translateY(-20px) translateX(-20px);
}

.userCrown {
    max-width: 80px;
    z-index: 1;
    position: absolute;
    transform: translateY(-40px) translateX(-40px);
}

.avatarPics {
    max-width: 100vw;
    margin: auto;
    display: grid;
    gap: 1rem;
}

@media (min-width: 450px) {
    .mainPageDiv {
        margin-top: 60%;

    }
}

.mobileMenu {
    display: none;
}

@media (min-width: 640px) {
    .avatarPics {
        grid-template-columns: repeat(2, 1fr);
    }

    .mainPageDiv {
        margin-top: 45%;
        margin-bottom: 10%;
    }
}

@media (min-width: 900px) {
    .avatarPics {
        grid-template-columns: repeat(3, 1fr);
    }

    .mainPageDiv {
        margin-top: 30%;
        margin-bottom: 15%;
    }
}

@media (min-width: 1200px) {
    .avatarPics {
        grid-template-columns: repeat(9, 1fr);
    }

    .mainPageDiv {
        margin-top: 20%;
        margin-bottom: 15%;
    }
}

#chosenPicture {
    border: 5px solid rgb(94, 6, 6);
}

.navbar {
    align-items: baseline;
    background-color: rgb(90, 48, 36);
    box-shadow: 0 2vh 0 0 rgba(69, 55, 41, 0.207);
    color: beige;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}

.navbuttons {
    padding: 5%;
    display: flex;
    gap: 2px
}

.footer {
    background-color: rgb(90, 48, 36);
    box-shadow: 0 -2vh 0 0 rgba(69, 55, 41, 0.207);
    bottom: 0;
    height: 5%;
    width: 100vw;
    left: 0;
    position: fixed;
    color: cadetblue;
}

.footer a {
    color: rgb(54, 98, 121);
}

.avatarPic {
    border: 4px solid;
    border-color: antiquewhite;
    border-radius: 10%;
    width: 100px;
}

.avatarPic:hover {
    filter: drop-shadow(10px -10px 3px black);
    transform: translateY(5%)
}

.avatarPic:active {
    transform: scale(0.9);
}

.userAvatarPic {
    border: 4px solid;
    border-color: antiquewhite;
    border-radius: 10%;
    width: 200px;
}


button {
    background-color: bisque;
    margin: 10px;
}

select,
input {
    background: beige;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.centerForced {
    display: flex;
    justify-content: center;
}

.checkBoxContainer {
    display: grid;
    justify-items: end;
    width: max-content;
}

.checkbox {

    width: 30px;
    height: 30px;
    box-shadow: inset 3px 3px 3px #cbced1, inset -3px -3px 3px white;
}

.candyButton,
.submit {
    margin-top: 20px;
    cursor: pointer;
    padding-right: 20px;
    border-radius: 3.75rem;
    line-height: 1.5rem;
    font-size: 1rem;
    color: antiquewhite;
    font-weight: 600;
    border: 1px solid #073441;
    background-image: linear-gradient(-180deg, #89aeff 0%, rgb(34, 61, 76));
    box-shadow: 0 1rem 1.25rem 0 rgba(57, 22, 195, 0.5),
        0 -0.25rem 1.5rem rgb(15, 71, 155) inset,
        0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
        0 0.25rem 0.5rem 0 rgb(93, 70, 207) inset;
}


select {
    background-color: beige;
    width: 200px;
}

.myPage ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.rewardpoints {
    display: inline-flex;
    gap: 10vw;
    flex-wrap: wrap;
}

.shopitems {
    display: grid;
    justify-items: start;
}

.shopitem {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.disabled {
    color: rgb(90, 89, 89);
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

.pagination {
    padding-bottom: 20px;
    display: grid;
    justify-items: center;

}

.paginationElement {
    align-self: center;
    grid-row: 1;
}

.left {
    transform-origin: center center;
    transform: rotateY(180deg);
}

.arrow {
    max-height: 80px;
}

.left:active {
    transform: translateY(4px) rotateY(180deg);
}

.right:active {
    transform: translateY(4px);
}

.inactive {
    visibility: hidden;
}

.gridContainer {
    display: grid;
    justify-items: start;
    grid-template-columns: 4fr 1fr 1fr;
    gap: 1rem;
}